<a href="https://colab.research.google.com/github/mrchapagain/ConsumerDataAnalytics/blob/main/Data_Exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Here i combine Fridata datset with SSI dataset & GPC dataset.**
*   *Frist combine FRIDA dataset with intrested columns*
*   *Second combine GPC dataset with CONCITO dataset with the help of Brickcode/GPC_level4_code*
*   *Then try to extract SSI dataset only the name and match with FRIDA dataset*
*   *Then introduce combined CONCITO_GOPC dataset to the Combined FRIODA_SSI dataset*

In [1]:
# Necessary libaries
import pandas as pd
import os

import warnings
warnings.filterwarnings("ignore")

# FRIDA Food Composition Database
***FRIDA Food Composition Database  contain mainly Nutrition value of the each food items***

*   ***Category list:*** https://frida.fooddata.dk/food/lists/grouped?lang=en
*   ***Data display inspiration:*** https://foodb.ca/foods/FOOD00011
*   ***Display on FRIDA:*** https://frida.fooddata.dk/food/754?lang=en

***Import different dataset in FRIDA***

In [2]:
# Import FRIDA Nutrient data
path_frida_data="https://github.com/mrchapagain/ConsumerDataAnalytics/raw/main/FridaNutrientData.xlsx"

# Import FRIDA Group data with Group code
path_frida_data_groups="https://github.com/mrchapagain/ConsumerDataAnalytics/raw/main/FridaNutrientData.xlsx"

# Import FRIDA AdditionalLink data
path_frida_aditional_link="https://github.com/mrchapagain/ConsumerDataAnalytics/raw/main/FridaAdditionalLinkData.xlsx"

***Open and combine FRIDA dataset in one dataframe***

In [3]:
# Lets open with little modificaton so easy to read and understand
data_frida= pd.read_excel(path_frida_data, sheet_name=1, index_col=None, header=None, skiprows=2).round(decimals = 3).iloc[:, :26]

# Lets define and Assign columns name that defined just above
column_names= ['FoodID', 'FødevareGruppe', 'FødevareNavn', 'Svind_%', 'Energy_kj', 'Energy_kcal', 'Nitrogen_til_protein_faktor', 'Nitrogen_total_g', 'Protein_videnskabelign_g', 'Protein_deklaration_g', 'Kulhydrat_difference_g', 'Kulhydrat_tilgængelig_g', 
               'Kulhydrat_deklaration_g', 'Tilsat_sukker_g', 'Kostfibre_g', 'Fedt_total_g', 'FCF', 'Alkohol_g', 'Aske_g', 'Tørstof_g', 'Vand_g', 'A_vitamin_RE', 'Retinol_µg', 'beta_caroten_µg', 'D_vitamin_µg', 'D3_vitamin_µg']
data_frida.columns= column_names

# lets see frist 3 and last 3 rows od the dataset
data_frida.head(3).append(data_frida.tail(3))

,FoodID,FødevareGruppe,FødevareNavn,Svind_%,Energy_kj,Energy_kcal,Nitrogen_til_protein_faktor,Nitrogen_total_g,Protein_videnskabelign_g,Protein_deklaration_g,...,FCF,Alkohol_g,Aske_g,Tørstof_g,Vand_g,A_vitamin_RE,Retinol_µg,beta_caroten_µg,D_vitamin_µg,D3_vitamin_µg
0,1,Bærfrugt,"Jordbær, rå",4,162,38,6.25,0.106,0.7,0.7,...,0.8,0,0.4,10,90,3.33,0,40,0,0
1,2,Kernefrugt,"Æble, uspec., råt",10,233,55,6.25,0.043,0.3,0.3,...,0.8,0,0.3,15.1,84.9,2.08,0,25,0,0
2,3,Sydfrugt,"Banan, rå",41,396,93,6.25,0.183,1.1,1.1,...,0.73,0,0.7,24.6,75.3,4.42,0,53,0,0
1183,1728,Fedtrig frugt og frø,Chiafrø,iv,1837,447,iv,3.425,21.4,21.4,...,0.887,iv,4.4,93.9,6.1,0,iv,0,0,0
1184,1729,Kornsorter,Perlespelt,iv,1386,329,iv,1.94,12.1,12.1,...,0.598,iv,1.5,88.8,11.2,0,iv,0,0,0
1185,1730,Kornsorter,Perlebyg,iv,1413,335,iv,1.455,9.1,9.1,...,0.548,iv,1.3,89.2,10.8,0,iv,0,0,0

In [4]:
# Lets open data as pandas dataframe with adjusted column name
data_frida_groups= pd.read_excel(path_frida_data_groups, sheet_name=3, index_col=None, header=0, skiprows=0)[["FoodGroupID",	"GroupNameDK",	"GroupNameUK", "ParantFoodGroupId"]]
# lets have a look row with  "Banan, rå" to have understanding of the rows
data_frida_groups[data_frida_groups.ParantFoodGroupId == 47]

,FoodGroupID,GroupNameDK,GroupNameUK,ParantFoodGroupId
39,48,Anden frugt,Other fruit,47
40,49,Kernefrugt,Pome fruit,47
41,50,Stenfrugt,Stone fruit,47
42,51,Bærfrugt,Soft fruit,47
43,52,Sydfrugt,Tropical or subtropical fruit,47
44,53,Fedtrig frugt og frø,High-fat fruit and seeds,47
45,54,Frugtsaft og juice,Fruit juices,47
46,55,Frugtprodukter,Fruit products,47

In [5]:
# Lets open with little modificaton so easy to read and understand
data_frida_aditional_link= pd.read_excel(path_frida_aditional_link, sheet_name=3, index_col=None, header=0, skiprows=0)

# lets see first 3 and last 3 rows od the dataset
data_frida_aditional_link.head(3).append(data_frida_aditional_link.tail(3))

,FødevareNavn,FoodName,FoodID,TaxonomicName,FoodEx2Code,FoodGroupID,FødevareGruppe,FoodGroup
0,"Jordbær, rå","Strawberry, raw",1,Fragaria x ananassa Duchesne,A01EA#F02.A067D,51,Bærfrugt,Soft fruit
1,"Æble, uspec., råt","Apple, raw, all varieties",2,Malus domestica Borkh.,A01DJ#F02.A067D$F26.A07XD,49,Kernefrugt,Pome fruit
2,"Banan, rå","Banana, raw",3,Musa x paradisiaca L.,A01LC#F01.A064L$F02.A067D,52,Sydfrugt,Tropical or subtropical fruit
1246,"Stykker, med mycoprotein","Pieces, with mycoprotein",1793,NaN,NaN,169,Plantebaserede produkter,Plant-based products
1247,"Pølse, med sojaprotein","Sausage, with soy protein",1794,NaN,NaN,169,Plantebaserede produkter,Plant-based products
1248,"Oksekød, filet, marmoreret, rå","Beef, entrecote/rib eye, raw",1795,Bos taurus,NaN,58,Oksekød,Beef

***Combine dataset now***

In [6]:
# Frida Additionallink dataset & Nutrient Dataset
combine_fridanutrient_additionallink_dataset= data_frida_aditional_link.merge(data_frida, on= ['FoodID', 'FødevareNavn', 'FødevareGruppe'], how= 'left')
combine_fridanutrient_additionallink_dataset

# also combine frida group dataset
combine_fridanutrient_additionallink_dataset.merge(data_frida_groups[['FoodGroupID', 'ParantFoodGroupId']], on= 'FoodGroupID', how= 'left')

,FødevareNavn,FoodName,FoodID,TaxonomicName,FoodEx2Code,FoodGroupID,FødevareGruppe,FoodGroup,Svind_%,Energy_kj,...,Alkohol_g,Aske_g,Tørstof_g,Vand_g,A_vitamin_RE,Retinol_µg,beta_caroten_µg,D_vitamin_µg,D3_vitamin_µg,ParantFoodGroupId
0,"Jordbær, rå","Strawberry, raw",1,Fragaria x ananassa Duchesne,A01EA#F02.A067D,51,Bærfrugt,Soft fruit,4,162,...,0,0.4,10,90,3.33,0,40,0,0,47.0
1,"Æble, uspec., råt","Apple, raw, all varieties",2,Malus domestica Borkh.,A01DJ#F02.A067D$F26.A07XD,49,Kernefrugt,Pome fruit,10,233,...,0,0.3,15.1,84.9,2.08,0,25,0,0,47.0
2,"Banan, rå","Banana, raw",3,Musa x paradisiaca L.,A01LC#F01.A064L$F02.A067D,52,Sydfrugt,Tropical or subtropical fruit,41,396,...,0,0.7,24.6,75.3,4.42,0,53,0,0,47.0
3,"Kartoffel, uspec., rå","Potato, raw",4,Solanum tuberosum L.,A00ZT#F02.A067V,39,Rod- og knoldgrøntsager,Root and tuber vegetables,25,326,...,0,0.9,20.5,79.5,0.833,0,10,0,0,37.0
4,"Hindbær, rå","Raspberry, raw",5,Rubus idaeus L.,A01EP#F02.A067D,51,Bærfrugt,Soft fruit,0,215,...,0,0.5,13.8,86.2,3.5,0,42,0,0,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244,"Pølse, med ærteprotein","Sausage, with pea protein",1791,NaN,NaN,169,Plantebaserede produkter,Plant-based products,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1245,"Pålæg i skiver, med æggehvide","Cold cuts, with eggwhite",1792,NaN,NaN,169,Plantebaserede produkter,Plant-based products,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1246,"Stykker, med mycoprotein","Pieces, with mycoprotein",1793,NaN,NaN,169,Plantebaserede produkter,Plant-based products,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1247,"Pølse, med sojaprotein","Sausage, with soy protein",1794,NaN,NaN,169,Plantebaserede produkter,Plant-based products,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1248,"Oksekød, filet, marmoreret, rå","Beef, entrecote/rib eye, raw",1795,Bos taurus,NaN,58,Oksekød,Beef,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.0

#CONCITO dataset and GPC dataset

***Import dataset***

In [7]:
# Climate dataset
path_climate_data="https://github.com/mrchapagain/ConsumerDataAnalytics/raw/main/ClimateData.xlsx"

#TradeSync GPC dataset
path_tradesync_excel= "https://github.com/mrchapagain/ConsumerDataAnalytics/raw/main/GS1_GPC_Dataset.xlsx"

***CONCITO climate dataset***

In [8]:
# Loading CONCITO climate dataset into the data-frame
col_names= ["id", "Product_dk", "Category_dk", "Product_en", "Category_en", "Unit", "Agriculture", "iLUC", "Processing", "Packaging", "Transport", "Retail", "Total_CO2_eq_perkg", "Energy_KJ", "Fat_g", "Carb_g", "Protein_g", "Data_Source", "Comments", "GPC_Level4_en", "ID_Food", "ID_Pack", "ID_Retail", "GPC_Category_en", "GPC_Category_dk", "GPC_Level4_dk", "product_type", "GPC_level1", "Food_group", "GPC_level2", "Un/Processed", "GPC_Level3", "Extra_category"]
cols_to_use= ['Product_dk',	"Product_en", 'Category_dk', "Category_en", "GPC_Level4_dk", "Fat_g", "Carb_g", "Protein_g", "Energy_KJ", "Agriculture", "iLUC", "Processing", "Packaging", "Transport", "Retail", "Total_CO2_eq_perkg"]

# Original columns name are replaced with ralavant names (col_names) and open only selected columns
data_climate_selected= pd.read_excel(path_climate_data, sheet_name=1, index_col=False, header=None, skiprows=1, names= col_names).loc[:, cols_to_use]
data_climate_selected.head(5)

,Product_dk,Product_en,Category_dk,Category_en,GPC_Level4_dk,Fat_g,Carb_g,Protein_g,Energy_KJ,Agriculture,iLUC,Processing,Packaging,Transport,Retail,Total_CO2_eq_perkg
0,"Peberfrugt, rød, rå","Pepper, sweet, red, raw",Grøntsager,Vegetables,10006191,0.1,5.2,0.9,133.0,0.251618,0.033544,0.000000e+00,0.140624,0.582215,0.009921,1.017923
1,"Tomat, uspec., rå","Tomato, ripe, raw, origin unknown",Grøntsager,Vegetables,10006165,0.1,3.2,0.8,87.0,0.066407,0.008081,0.000000e+00,0.140624,0.476213,0.009921,0.701246
2,"Squash, rå","Squash, raw",Grøntsager,Vegetables,10006355,0.2,2.4,1.4,81.0,0.141884,0.040487,0.000000e+00,0.064813,0.577676,0.009921,0.834780
3,"Aubergine, rå","Aubergine, raw",Grøntsager,Vegetables,10006128,0.1,3.1,0.9,83.0,0.158010,0.019844,0.000000e+00,0.140624,0.646277,0.009921,0.974676
4,"Tomat, soltørret","Tomato, dried",Grøntsager,Vegetables,10000272,3.0,43.5,14.1,1187.0,0.905904,0.091830,-5.551115e-17,0.260522,0.677568,0.009921,1.945744

***GS1 TradeSync GPC dataset***

In [9]:
# Selective columns names
columns = ['SegmentCode', 'SegmentTitle', 'FamilyCode', 'FamilyTitle', 'ClassCode', 'ClassTitle', 'BrickCode', 'BrickTitle', 'AttributeCode', 'AttributeTitle', 'AttributeValueCode', 'AttributeValueTitle']

# Lets open data as they are
data_tradesync_excel= pd.read_excel(path_tradesync_excel, sheet_name=0, index_col=None, header=0, skiprows=0)
data_tradesync_excel.head(2).append(data_tradesync_excel.tail(2))

# Open the dataset with selective columns names
data_tradesync_selected_columns = data_tradesync_excel[columns]
data_tradesync_selected_columns.head(2).append(data_tradesync_selected_columns.tail(2))

,SegmentCode,SegmentTitle,FamilyCode,FamilyTitle,ClassCode,ClassTitle,BrickCode,BrickTitle,AttributeCode,AttributeTitle,AttributeValueCode,AttributeValueTitle
0,70000000,Arts/Crafts/Needlework,70010000,Arts/Crafts/Needlework Supplies,70010200,Airbrushing Supplies,10001686,Airbrushes (Powered),NaN,NaN,NaN,NaN
1,70000000,Arts/Crafts/Needlework,70010000,Arts/Crafts/Needlework Supplies,70010200,Airbrushing Supplies,10001688,Airbrushing Equipment - Replacement Parts/Acce...,20001349.0,Type of Airbrushing Equipment - Replacement Pa...,30008542.0,AIRBRUSH CONTROL VALVE
183206,77000000,Vehicle,77030000,Cars and Motorcycles,77030200,Motorcycles/ All Terrain Vehicles/ Utility Tas...,10006773,Utility Task Vehicles (UTVs)/ Recreational Off...,20002877.0,Type of Energy,30002518.0,UNIDENTIFIED
183207,77000000,Vehicle,77050000,Specialty Vehicles,77050100,Specialty Vehicles,10008050,Specialty Vehicles,NaN,NaN,NaN,NaN

In [10]:
#data_tradesync_selected_columns[data_tradesync_selected_columns.BrickCode== 10006191]	
#data_climate_selected[data_climate_selected.GPC_Level4_dk== 10006191]

***Now, combine CONCITO_Climate & GS1_GPC_Tradesync datasets***

In [11]:
# CONCITO dataset with GPC dataset
combine_gpc_climate_dataset= data_tradesync_selected_columns.merge(data_climate_selected, left_on= 'BrickCode', right_on= 'GPC_Level4_dk', how= 'left')
combine_gpc_climate_dataset.head(2).append(combine_gpc_climate_dataset.tail(2))
#combine_gpc_climate_dataset.info()

,SegmentCode,SegmentTitle,FamilyCode,FamilyTitle,ClassCode,ClassTitle,BrickCode,BrickTitle,AttributeCode,AttributeTitle,...,Carb_g,Protein_g,Energy_KJ,Agriculture,iLUC,Processing,Packaging,Transport,Retail,Total_CO2_eq_perkg
0,70000000,Arts/Crafts/Needlework,70010000,Arts/Crafts/Needlework Supplies,70010200,Airbrushing Supplies,10001686,Airbrushes (Powered),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,70000000,Arts/Crafts/Needlework,70010000,Arts/Crafts/Needlework Supplies,70010200,Airbrushing Supplies,10001688,Airbrushing Equipment - Replacement Parts/Acce...,20001349.0,Type of Airbrushing Equipment - Replacement Pa...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227356,77000000,Vehicle,77030000,Cars and Motorcycles,77030200,Motorcycles/ All Terrain Vehicles/ Utility Tas...,10006773,Utility Task Vehicles (UTVs)/ Recreational Off...,20002877.0,Type of Energy,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227357,77000000,Vehicle,77050000,Specialty Vehicles,77050100,Specialty Vehicles,10008050,Specialty Vehicles,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***Exploring connecting column and feacture for FRIDA and GPC_Concito dataset***

In [12]:
combine_gpc_climate_dataset[combine_gpc_climate_dataset.Product_dk == "Jordbær, rå"].iloc[:, [6,7,8,9,10,11,12,13,27]]

,BrickCode,BrickTitle,AttributeCode,AttributeTitle,AttributeValueCode,AttributeValueTitle,Product_dk,Product_en,Total_CO2_eq_perkg
66614,10005921,Strawberries,20000743.0,Country/Zone of Origin,30014610.0,AFGHANISTAN,"Jordbær, rå","Strawberry, raw",0.561566
66615,10005921,Strawberries,20000743.0,Country/Zone of Origin,30016053.0,ÅLAND ISLANDS,"Jordbær, rå","Strawberry, raw",0.561566
66616,10005921,Strawberries,20000743.0,Country/Zone of Origin,30014612.0,ALBANIA,"Jordbær, rå","Strawberry, raw",0.561566
66617,10005921,Strawberries,20000743.0,Country/Zone of Origin,30014613.0,ALGERIA,"Jordbær, rå","Strawberry, raw",0.561566
66618,10005921,Strawberries,20000743.0,Country/Zone of Origin,30014614.0,AMERICAN SAMOA,"Jordbær, rå","Strawberry, raw",0.561566
...,...,...,...,...,...,...,...,...,...
66896,10005921,Strawberries,20002737.0,Quality (UNECE Standard),30014956.0,"""EXTRA"" CLASS","Jordbær, rå","Strawberry, raw",0.561566
66897,10005921,Strawberries,20002737.0,Quality (UNECE Standard),30014608.0,CLASS I,"Jordbær, rå","Strawberry, raw",0.561566
66898,10005921,Strawberries,20002737.0,Quality (UNECE Standard),30014609.0,CLASS II,"Jordbær, rå","Strawberry, raw",0.561566
66899,10005921,Strawberries,20002737.0,Quality (UNECE Standard),30002515.0,UNCLASSIFIED,"Jordbær, rå","Strawberry, raw",0.561566
66900,10005921,Strawberries,20002737.0,Quality (UNECE Standard),30002518.0,UNIDENTIFIED,"Jordbær, rå","Strawberry, raw",0.561566

In [13]:
combine_fridanutrient_additionallink_dataset #[combine_fridanutrient_additionallink_dataset.FødevareNavn == "Jordbær, rå"].info()

,FødevareNavn,FoodName,FoodID,TaxonomicName,FoodEx2Code,FoodGroupID,FødevareGruppe,FoodGroup,Svind_%,Energy_kj,...,FCF,Alkohol_g,Aske_g,Tørstof_g,Vand_g,A_vitamin_RE,Retinol_µg,beta_caroten_µg,D_vitamin_µg,D3_vitamin_µg
0,"Jordbær, rå","Strawberry, raw",1,Fragaria x ananassa Duchesne,A01EA#F02.A067D,51,Bærfrugt,Soft fruit,4,162,...,0.8,0,0.4,10,90,3.33,0,40,0,0
1,"Æble, uspec., råt","Apple, raw, all varieties",2,Malus domestica Borkh.,A01DJ#F02.A067D$F26.A07XD,49,Kernefrugt,Pome fruit,10,233,...,0.8,0,0.3,15.1,84.9,2.08,0,25,0,0
2,"Banan, rå","Banana, raw",3,Musa x paradisiaca L.,A01LC#F01.A064L$F02.A067D,52,Sydfrugt,Tropical or subtropical fruit,41,396,...,0.73,0,0.7,24.6,75.3,4.42,0,53,0,0
3,"Kartoffel, uspec., rå","Potato, raw",4,Solanum tuberosum L.,A00ZT#F02.A067V,39,Rod- og knoldgrøntsager,Root and tuber vegetables,25,326,...,0.8,0,0.9,20.5,79.5,0.833,0,10,0,0
4,"Hindbær, rå","Raspberry, raw",5,Rubus idaeus L.,A01EP#F02.A067D,51,Bærfrugt,Soft fruit,0,215,...,0.8,0,0.5,13.8,86.2,3.5,0,42,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244,"Pølse, med ærteprotein","Sausage, with pea protein",1791,NaN,NaN,169,Plantebaserede produkter,Plant-based products,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1245,"Pålæg i skiver, med æggehvide","Cold cuts, with eggwhite",1792,NaN,NaN,169,Plantebaserede produkter,Plant-based products,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1246,"Stykker, med mycoprotein","Pieces, with mycoprotein",1793,NaN,NaN,169,Plantebaserede produkter,Plant-based products,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1247,"Pølse, med sojaprotein","Sausage, with soy protein",1794,NaN,NaN,169,Plantebaserede produkter,Plant-based products,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1248,"Oksekød, filet, marmoreret, rå","Beef, entrecote/rib eye, raw",1795,Bos taurus,NaN,58,Oksekød,Beef,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#Combine Frida (Combined) and gs1GPC-climate dataset
*   ***Product_dk* from combined GS1_GPC dataset. This dataset have multiple datapoint for selected string from FRIDA**
*   ***FødevareNavn* from frida dataset- This dataset have one 1 datapoint for selected string**


So it need to be merged FRIDA dataset to GPC-Concito dataset. 
After inspecting dataset:
*   Single "BrickCode" contain multiple rows with multiple AttributeCode and AttributeValue
*   It will make sense if we pass single food item with BrickCode and AttributeValueCode. because there are multiple BrickCode but single AttributeValueCode

In [24]:
# explore seleted columns that seems relavant
combine_fida_gpc_concito_dataset= combine_gpc_climate_dataset.merge(combine_fridanutrient_additionallink_dataset, left_on= 'Product_dk', right_on= 'FødevareNavn', how= 'left')
combine_fida_gpc_concito_dataset.head(2).append(combine_fida_gpc_concito_dataset.tail(2)).iloc[:, [6,7,8,9,10,11,12,13,27,30,31,32,33,34,35]]

,BrickCode,BrickTitle,AttributeCode,AttributeTitle,AttributeValueCode,AttributeValueTitle,Product_dk,Product_en,Total_CO2_eq_perkg,FoodID,TaxonomicName,FoodEx2Code,FoodGroupID,FødevareGruppe,FoodGroup
0,10001686,Airbrushes (Powered),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001688,Airbrushing Equipment - Replacement Parts/Acce...,20001349.0,Type of Airbrushing Equipment - Replacement Pa...,30008542.0,AIRBRUSH CONTROL VALVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227356,10006773,Utility Task Vehicles (UTVs)/ Recreational Off...,20002877.0,Type of Energy,30002518.0,UNIDENTIFIED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227357,10008050,Specialty Vehicles,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# lets see the row with "Jordbær, rå"
a=combine_fida_gpc_concito_dataset[combine_fida_gpc_concito_dataset.BrickCode == 10005897].iloc[:, [6,7,8,9,10,11,12,13,27,30,31,32,33,34,35]]
a

,BrickCode,BrickTitle,AttributeCode,AttributeTitle,AttributeValueCode,AttributeValueTitle,Product_dk,Product_en,Total_CO2_eq_perkg,FoodID,TaxonomicName,FoodEx2Code,FoodGroupID,FødevareGruppe,FoodGroup
60078,10005897,Bananas,20000743.0,Country/Zone of Origin,30014610.0,AFGHANISTAN,"Banan, rå","Banana, raw",0.982348,3.0,Musa x paradisiaca L.,A01LC#F01.A064L$F02.A067D,52.0,Sydfrugt,Tropical or subtropical fruit
60079,10005897,Bananas,20000743.0,Country/Zone of Origin,30016053.0,ÅLAND ISLANDS,"Banan, rå","Banana, raw",0.982348,3.0,Musa x paradisiaca L.,A01LC#F01.A064L$F02.A067D,52.0,Sydfrugt,Tropical or subtropical fruit
60080,10005897,Bananas,20000743.0,Country/Zone of Origin,30014612.0,ALBANIA,"Banan, rå","Banana, raw",0.982348,3.0,Musa x paradisiaca L.,A01LC#F01.A064L$F02.A067D,52.0,Sydfrugt,Tropical or subtropical fruit
60081,10005897,Bananas,20000743.0,Country/Zone of Origin,30014613.0,ALGERIA,"Banan, rå","Banana, raw",0.982348,3.0,Musa x paradisiaca L.,A01LC#F01.A064L$F02.A067D,52.0,Sydfrugt,Tropical or subtropical fruit
60082,10005897,Bananas,20000743.0,Country/Zone of Origin,30014614.0,AMERICAN SAMOA,"Banan, rå","Banana, raw",0.982348,3.0,Musa x paradisiaca L.,A01LC#F01.A064L$F02.A067D,52.0,Sydfrugt,Tropical or subtropical fruit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60358,10005897,Bananas,20002739.0,Growing Method,30014684.0,TRANSITIONAL,"Banan, rå","Banana, raw",0.982348,3.0,Musa x paradisiaca L.,A01LC#F01.A064L$F02.A067D,52.0,Sydfrugt,Tropical or subtropical fruit
60359,10005897,Bananas,20002739.0,Growing Method,30002518.0,UNIDENTIFIED,"Banan, rå","Banana, raw",0.982348,3.0,Musa x paradisiaca L.,A01LC#F01.A064L$F02.A067D,52.0,Sydfrugt,Tropical or subtropical fruit
60360,10005897,Bananas,20002793.0,If Ripened,30002960.0,NO,"Banan, rå","Banana, raw",0.982348,3.0,Musa x paradisiaca L.,A01LC#F01.A064L$F02.A067D,52.0,Sydfrugt,Tropical or subtropical fruit
60361,10005897,Bananas,20002793.0,If Ripened,30002518.0,UNIDENTIFIED,"Banan, rå","Banana, raw",0.982348,3.0,Musa x paradisiaca L.,A01LC#F01.A064L$F02.A067D,52.0,Sydfrugt,Tropical or subtropical fruit
60362,10005897,Bananas,20002793.0,If Ripened,30002654.0,YES,"Banan, rå","Banana, raw",0.982348,3.0,Musa x paradisiaca L.,A01LC#F01.A064L$F02.A067D,52.0,Sydfrugt,Tropical or subtropical fruit

In [16]:
from google.colab import files
#combine_fida_gpc_concito_dataset.to_excel('combine_fida_gpc_concito_dataset.xlsx', encoding = 'utf-8-sig') 
#files.download('combine_fida_gpc_concito_dataset.xlsx')

# Data by Frederik

***Columns description***

*   **itemname:** name provided by the merchant. It often, but not always, contains a enough information to ID the product.  Sometimes weight, or other information is also provided here.
*   **itemnumber:** the product itemnumber. It can be a standardized GTIN 13 number ( 12-13 digits) supported by GS1 or a non standard number created by the retailer to identify i.e. Bananas
*   **category:** a category code not sure how to interpret and often missing
*   **percent_purchases:** Percent off all receipt lines in the dataset where each line is a purchas

In [235]:
# Import data
path_ssi_data="https://github.com/mrchapagain/ConsumerDataAnalytics/raw/main/cpd_summary.csv"

# Open data as csv file
data_ssi= pd.read_csv(path_ssi_data, sep= ";", index_col=False, encoding='latin-1')

# itemnumber culumn is string although it is integer, lets turn it to integer
#But there are NULL value so can not converted to integer type
#data_ssi["itemnumber"]= data_ssi["itemnumber"].astype(int)

# lets see frist 3 and last 3 rows od the dataset
data_ssi.head(3).append(data_ssi.tail(5))

# only some of the rows of different kinds of the banana
b=data_ssi.iloc[[11, 12, 14, 18], :] 
b

             itemname     itemnumber    category percent_purchases
11  ØKO BANANER, LØSE  5712873336944          89             0,567
12       BANANER,LØSE  5711044628659         NaN             0,565
14            BANANER            406  0000000030             0,419
18       BANANER,LØSE  5711044628659          89             0,266

In [260]:
b["brick_code"] =""
#b.brick_code= 00
lst= [0,1, 2,3,4]
for i in lst:
  for row, col in b.iterrows():
    col.brick_code= i
b

             itemname     itemnumber    category percent_purchases brick_code
11  ØKO BANANER, LØSE  5712873336944          89             0,567          4
12       BANANER,LØSE  5711044628659         NaN             0,565          4
14            BANANER            406  0000000030             0,419          4
18       BANANER,LØSE  5711044628659          89             0,266          4

In [232]:
# lets explore the SSI dataset with GTIN code from GS1

#iterate over gtin and Brick-code dataset
data_ssi["brick_code"] =""
for row, col in gtin_brickcode.iterrows():
  gtin_list= col.gtin #["5712873336944", '	5711044628659', '5707402006641', '406', '5711044628659', '5707402008119', '5707402008171', '0000057014388']
  gpc_code= col.gpcCategoryCode[0]
  print("gtin:", gtin_list)
  print("brik:", gpc_code)
  print("-"*40)

  # now lets take a row from SSI dataset
  for  row, col in data_ssi.iterrows():    
    # check if itemnumber from SSI rows is exist in the column of GTIN code list
    if col.itemnumber in gtin_list:
      col.brick_code = gpc_code
      print("gtin is in the list")
      print("brickcode:", col.brick_code)
    else:
      pass
  print("*"* 40)
  print(data_ssi.brick_code.unique())

gtin: ['5000387905498', '5000387905634', '5000387905634']
brik: 10000263
----------------------------------------
****************************************
['']
gtin: ['4008239649805', '4008239655257', '4008239655257', '4008239251091', '4008239251091']
brik: 10000522
----------------------------------------
****************************************
['']
gtin: ['6942138946529']
brik: 10005155
----------------------------------------
****************************************
['']
gtin: ['5701018044677', '5701018044646', '5701018044646']
brik: 10000055
----------------------------------------
gtin is in the list
brickcode: 10000055
****************************************
['' '10000055']
gtin: ['8711295755952', '8711295755955', '8711295755955', '8711295755958', '8711295755958']
brik: 99999999
----------------------------------------
****************************************
['' '10000055']
gtin: ['5700382108657', '5700383641047', '5700383641047']
brik: 10005767
----------------------------------------
****************************************
['' '10000055']
gtin: ['5704000457292', '5704000457295', '5704000457295']
brik: 10005840
----------------------------------------
****************************************
['' '10000055']
gtin: ['5709916008203']
brik: 99999999
----------------------------------------
****************************************
['' '10000055']
gtin: ['5709760010346', '5709760000347', '5709760000347']
brik: 10005836
----------------------------------------
****************************************
['' '10000055']
gtin: ['7300400707503', '7300400482165', '7300400482165']
brik: 10000166
----------------------------------------
gtin is in the list
brickcode: 10000166
gtin is in the list
brickcode: 10000166
gtin is in the list
brickcode: 10000166
gtin is in the list
brickcode: 10000166
****************************************
['' '10000166' '10000055']
gtin: ['3052911428576', '3052911428579', '3052911428579']
brik: 10000202
----------------------------------------
****************************************
['' '10000166' '10000055']
gtin: ['8036622240670']
brik: 10000051
----------------------------------------
****************************************
['' '10000166' '10000055']
gtin: ['5701920306034', '5701920525776', '5701920525776']
brik: 10000172
----------------------------------------
gtin is in the list
brickcode: 10000172
****************************************
['' '10000172' '10000166' '10000055']
gtin: ['5711953067075', '5711953067082', '5711953067082']
brik: 10000190
----------------------------------------
****************************************
['' '10000172' '10000166' '10000055']
gtin: ['8717847118028']
brik: 10000555
----------------------------------------
****************************************
['' '10000172' '10000166' '10000055']
gtin: ['5711683003411']
brik: 10000171
----------------------------------------
****************************************
['' '10000172' '10000166' '10000055']
gtin: ['7501017005052', '7501017005055', '7501017005055']
brik: 10006102
----------------------------------------
****************************************
['' '10000172' '10000166' '10000055']
gtin: ['8712767580184', '8712767500182', '8712767500182']
brik: 10000047
----------------------------------------
****************************************
['' '10000172' '10000166' '10000055']
gtin: ['2654940000002']
brik: 10000028
----------------------------------------
****************************************
['' '10000172' '10000166' '10000055']
gtin: ['5704328614486']
brik: 10006113
----------------------------------------
****************************************
['' '10000172' '10000166' '10000055']
gtin: ['5706708000728']
brik: 10000302
----------------------------------------
****************************************
['' '10000172' '10000166' '10000055']
gtin: ['5707093003165']
brik: 10005840
----------------------------------------
****************************************
['' '10000172' '10000166' '10000055']
gtin: ['5704436004162', '5706911004162', '5706911004162']
brik: 10006748
----------------------------------------
****************************************
['' '10000172' '10000166' '10000055']
gtin: ['5706345069003']
brik: 10000257
----------------------------------------
****************************************
['' '10000172' '10000166' '10000055']
gtin: ['5707672975739']
brik: 10002122
----------------------------------------
gtin is in the list
brickcode: 10002122
gtin is in the list
brickcode: 10002122
gtin is in the list
brickcode: 10002122
****************************************
['' '10000172' '10000166' '10000055' '10002122']
gtin: ['8699073290719']
brik: 10000272
----------------------------------------
****************************************
['' '10000172' '10000166' '10000055' '10002122']
gtin: ['3600530803972', '3600530803910', '3600530803910', '3600530803880', '3600530803880', '3600530803859', '3600530803859']
brik: 10000775
----------------------------------------
****************************************
['' '10000172' '10000166' '10000055' '10002122']
gtin: ['5704328603688']
brik: 10005960
----------------------------------------
****************************************
['' '10000172' '10000166' '10000055' '10002122']
gtin: ['8007813730577']
brik: 10000276
----------------------------------------
****************************************
['' '10000172' '10000166' '10000055' '10002122']
gtin: ['5701841802819', '5701841802802', '5701841802802']
brik: 10000285
----------------------------------------
****************************************
['' '10000172' '10000166' '10000055' '10002122']
gtin: ['7073235113614', '5707323511361', '5707323511361']
brik: 10000201
----------------------------------------
gtin is in the list
brickcode: 10000201
gtin is in the list
brickcode: 10000201
gtin is in the list
brickcode: 10000201
gtin is in the list
brickcode: 10000201
gtin is in the list
brickcode: 10000201
****************************************
['' '10000201' '10000172' '10000166' '10000055' '10002122']
gtin: ['7310181599556', '7310181508107', '7310181508107']
brik: 10000383
----------------------------------------
****************************************
['' '10000201' '10000172' '10000166' '10000055' '10002122']
gtin: ['5000159459266', '5000159459228', '5000159459228']
brik: 10000045
----------------------------------------
gtin is in the list
brickcode: 10000045
gtin is in the list
brickcode: 10000045
gtin is in the list
brickcode: 10000045
gtin is in the list
brickcode: 10000045
gtin is in the list
brickcode: 10000045
gtin is in the list
brickcode: 10000045
gtin is in the list
brickcode: 10000045
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000055' '10002122']
gtin: ['5032015001203', '5032015001173', '5032015001173']
brik: 10000047
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000055' '10002122']
gtin: ['7340011432297', '7340011343127', '7340011343127']
brik: 10006319
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000055' '10002122']
gtin: ['0070734517829', '0070734517822', '0070734517822']
brik: 10000119
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000055' '10002122']
gtin: ['5709625959704', '5709625059701', '5709625059701']
brik: 10000165
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000055' '10002122']
gtin: ['5701092423382', '5701092111708', '5701092111708']
brik: 10000443
----------------------------------------
gtin is in the list
brickcode: 10000443
gtin is in the list
brickcode: 10000443
gtin is in the list
brickcode: 10000443
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000055' '10002122'
 '10000443']
gtin: ['5710280200322', '5710280200315', '5710280200315']
brik: 10000159
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000055' '10002122'
 '10000443']
gtin: ['3850354010524', '3850354010067', '3850354010067']
brik: 10000279
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000055' '10002122'
 '10000443']
gtin: ['8716201038365', '8716201038368', '8716201038368', '8716201038361', '8716201038361']
brik: 99999999
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000055' '10002122'
 '10000443']
gtin: ['5701716305230', '5701167305230', '5701167305230']
brik: 10000047
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000055' '10002122'
 '10000443']
gtin: ['5705815003677']
brik: 10000693
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000055' '10002122'
 '10000443']
gtin: ['8410764014714', '8410764014717', '8410764014717']
brik: 10005781
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000055' '10002122'
 '10000443']
gtin: ['5703828511134', '5703828111235', '5703828111235', '5703828020582', '5703828020582']
brik: 10000232
----------------------------------------
gtin is in the list
brickcode: 10000232
gtin is in the list
brickcode: 10000232
gtin is in the list
brickcode: 10000232
gtin is in the list
brickcode: 10000232
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000232' '10000055'
 '10002122' '10000443']
gtin: ['4023103117670', '4023103096271', '4023103096271']
brik: 10000397
----------------------------------------
gtin is in the list
brickcode: 10000397
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000232' '10000055'
 '10002122' '10000443' '10000397']
gtin: ['4015600945695', '4084500015142', '4084500015142', '4084500015135', '4084500015135']
brik: 10000368
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000232' '10000055'
 '10002122' '10000443' '10000397']
gtin: ['5764630020191']
brik: 10000379
----------------------------------------
gtin is in the list
brickcode: 10000379
gtin is in the list
brickcode: 10000379
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000232' '10000055'
 '10000379' '10002122' '10000443' '10000397']
gtin: ['5601045300169', '5601151976944', '5601151976944']
brik: 10000201
----------------------------------------
gtin is in the list
brickcode: 10000201
gtin is in the list
brickcode: 10000201
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000232' '10000055'
 '10000379' '10002122' '10000443' '10000397']
gtin: ['7321041882220', '7321031882223', '7321041761273', '7321031882223', '7321011882229', '7321031761276', '7321011882229', '7321011761272']
brik: 10007264
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000232' '10000055'
 '10000379' '10002122' '10000443' '10000397']
gtin: ['5705001150090', '5705001150086', '5705001150086']
brik: 10000220
----------------------------------------
gtin is in the list
brickcode: 10000220
gtin is in the list
brickcode: 10000220
gtin is in the list
brickcode: 10000220
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000232' '10000055'
 '10000379' '10000220' '10002122' '10000443' '10000397']
gtin: ['5060519143264', '5060519143266', '5060519143266']
brik: 10000117
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000232' '10000055'
 '10000379' '10000220' '10002122' '10000443' '10000397']
gtin: ['5705815023033']
brik: 10000158
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000166' '10000232' '10000055'
 '10000379' '10000220' '10002122' '10000443' '10000397']
gtin: ['5709364046420', '5709364674791', '5709364674791']
brik: 10000161
----------------------------------------
gtin is in the list
brickcode: 10000161
gtin is in the list
brickcode: 10000161
gtin is in the list
brickcode: 10000161
gtin is in the list
brickcode: 10000161
****************************************
['' '10000045' '10000201' '10000172' '10000161' '10000166' '10000232'
 '10000055' '10000379' '10000220' '10002122' '10000443' '10000397']
gtin: ['7311311002723', '7311311002721', '7311311002721', '7311311002724', '7311311002724']
brik: 10000049
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000161' '10000166' '10000232'
 '10000055' '10000379' '10000220' '10002122' '10000443' '10000397']
gtin: ['9414202214881']
brik: 10002122
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000161' '10000166' '10000232'
 '10000055' '10000379' '10000220' '10002122' '10000443' '10000397']
gtin: ['8717496901668']
brik: 10006454
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000161' '10000166' '10000232'
 '10000055' '10000379' '10000220' '10002122' '10000443' '10000397']
gtin: ['5411901938302', '5411901701333', '5411901701333']
brik: 10000045
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000161' '10000166' '10000232'
 '10000055' '10000379' '10000220' '10002122' '10000443' '10000397']
gtin: ['7332531079570', '7332531024723', '7332531061735', '7332531067041', '7332531024617', '7332531066983', '7332531061704', '7332531024723', '7332531061735', '7332531067041', '7332531024617', '7332531066983', '7332531061704']
brik: 10000368
----------------------------------------
gtin is in the list
brickcode: 10000368
****************************************
['' '10000045' '10000201' '10000172' '10000161' '10000166' '10000232'
 '10000055' '10000379' '10000368' '10000220' '10002122' '10000443'
 '10000397']
gtin: ['5712782104351']
brik: 10000043
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000161' '10000166' '10000232'
 '10000055' '10000379' '10000368' '10000220' '10002122' '10000443'
 '10000397']
gtin: ['5701852250425']
brik: 10000025
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000161' '10000166' '10000232'
 '10000055' '10000379' '10000368' '10000220' '10002122' '10000443'
 '10000397']
gtin: ['8001090387110', '4210201181637', '4210201181637', '4210201181620', '4210201181620']
brik: 10000781
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000161' '10000166' '10000232'
 '10000055' '10000379' '10000368' '10000220' '10002122' '10000443'
 '10000397']
gtin: ['7316191805359']
brik: 10001217
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000161' '10000166' '10000232'
 '10000055' '10000379' '10000368' '10000220' '10002122' '10000443'
 '10000397']
gtin: ['5703986120209', '5703986020202', '5703986020202']
brik: 10005840
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000161' '10000166' '10000232'
 '10000055' '10000379' '10000368' '10000220' '10002122' '10000443'
 '10000397']
gtin: ['5712782190606']
brik: 10000049
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000161' '10000166' '10000232'
 '10000055' '10000379' '10000368' '10000220' '10002122' '10000443'
 '10000397']
gtin: ['8001637010528', '2654200000001', '2654200000001']
brik: 10000028
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000161' '10000166' '10000232'
 '10000055' '10000379' '10000368' '10000220' '10002122' '10000443'
 '10000397']
gtin: ['5707402008577', '5707402006641', '5707402006641', '5707402005231', '5707402007990', '5707402008119', '5707402008171', '0000057014388', '5707402005231', '5707402007990', '5707402008119', '5707402008171', '0000057014388']
brik: 10000159
----------------------------------------
gtin is in the list
brickcode: 10000159
gtin is in the list
brickcode: 10000159
gtin is in the list
brickcode: 10000159
gtin is in the list
brickcode: 10000159
gtin is in the list
brickcode: 10000159
gtin is in the list
brickcode: 10000159
gtin is in the list
brickcode: 10000159
gtin is in the list
brickcode: 10000159
****************************************
['' '10000045' '10000201' '10000172' '10000161' '10000159' '10000166'
 '10000232' '10000055' '10000379' '10000368' '10000220' '10002122'
 '10000443' '10000397']
gtin: ['5748484207380', '5701302207382', '5701302207382']
brik: 10000635
----------------------------------------
****************************************
['' '10000045' '10000201' '10000172' '10000161' '10000159' '10000166'
 '10000232' '10000055' '10000379' '10000368' '10000220' '10002122'
 '10000443' '10000397']
gtin: ['9002490238865', '9002490100490', '9002490100490', '9002490216016', '9002490216016']
brik: 99999999
----------------------------------------
gtin is in the list
brickcode: 99999999
gtin is in the list
brickcode: 99999999
gtin is in the list
brickcode: 99999999
gtin is in the list
brickcode: 99999999
gtin is in the list
brickcode: 99999999
gtin is in the list
brickcode: 99999999
gtin is in the list
brickcode: 99999999
gtin is in the list
brickcode: 99999999
****************************************
['' '99999999' '10000045' '10000201' '10000172' '10000161' '10000159'
 '10000166' '10000232' '10000055' '10000379' '10000368' '10000220'
 '10002122' '10000443' '10000397']
gtin: ['5701243990954']
brik: 10006085
----------------------------------------
gtin is in the list
brickcode: 10006085
gtin is in the list
brickcode: 10006085
gtin is in the list
brickcode: 10006085
gtin is in the list
brickcode: 10006085
****************************************
['' '10006085' '99999999' '10000045' '10000201' '10000172' '10000161'
 '10000159' '10000166' '10000232' '10000055' '10000379' '10000368'
 '10000220' '10002122' '10000443' '10000397']
gtin: ['5411361020517']
brik: 10000204
----------------------------------------
****************************************
['' '10006085' '99999999' '10000045' '10000201' '10000172' '10000161'
 '10000159' '10000166' '10000232' '10000055' '10000379' '10000368'
 '10000220' '10002122' '10000443' '10000397']
gtin: ['8006908009659']
brik: 10000047
----------------------------------------
****************************************
['' '10006085' '99999999' '10000045' '10000201' '10000172' '10000161'
 '10000159' '10000166' '10000232' '10000055' '10000379' '10000368'
 '10000220' '10002122' '10000443' '10000397']
gtin: ['5700551260565', '5700551260568', '5700551260568']
brik: 10000510
----------------------------------------
****************************************
['' '10006085' '99999999' '10000045' '10000201' '10000172' '10000161'
 '10000159' '10000166' '10000232' '10000055' '10000379' '10000368'
 '10000220' '10002122' '10000443' '10000397']
gtin: ['5710645104357']
brik: 10006197
----------------------------------------
****************************************
['' '10006085' '99999999' '10000045' '10000201' '10000172' '10000161'

KeyboardInterrupt: ignored

In [197]:
gtin_brickcode= df_with_gtin_list[["gtin",	"gpcCategoryCode"]]
gtin_brickcode
for row, col in gtin_brickcode.iterrows():
  print(type(col.gtin[1]))
  print(col.gpcCategoryCode)
  print("*"* 30)
  gtin_brickcode.info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1060 entries, 0 to 1059
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gtin             1060 non-null   object
 1   gpcCategoryCode  1060 non-null   object
dtypes: object(2)
memory usage: 16.7+ KB

In [109]:
data_ssi

                    itemname     itemnumber category percent_purchases
0                       PANT        8880171      845             3,369
1                       PANT        8880171      NaN             2,055
2                       PANT        8880172      845             1,497
3                     Diesel              4      NaN             1,126
4              FISKEAFDELING         209999      NaN              1,06
...                      ...            ...      ...               ...
112761  PINOTEX SUPERDEC SOR    61009053404     6100            -0,002
112762       QUICK GEVINSTER         214196      926            -0,002
112763   UKRUDTSDUG BASIC 1X    42139019916     4213            -0,002
112764           TRAPPEVANGE  5708832546219      600            -0,004
112765       BR MÆRKER RETUR  5766183013538       21            -0,005

[112766 rows x 4 columns]

#Combine SSI data with Combined Frida-GS1GPC-climate dataset
*   **"itemname" from SSI dataset and "FødevareNavn" from Combined Frida-GPC-CONCITO dataset**
*    **Merging or Joining whole dataset do not making sense here, so i pick one row from SSI dataset and match with other dataset based on best match with Record Link library**

In [ ]:
!pip install recordlinkage

In [ ]:
# comparing the two dataframe with Record Link
# Import record linkage
import recordlinkage

#Create indexing object
#indexer= recordlinkage.Index()
#indexer.full()
#indexer.sortedneighbourhood(left_on= "itemname", right_on= "Product_dk")

#Generate pairs blocked on column
#indexer.block(left_on="itemnumber", right_on= "gtin")
candidates= indexer.index(b, a)
compare= recordlinkage.Compare()

print(len(candidates))

# Find exact matches for pairs of columns
compare.string("itemname", "Product_dk", threshold= 0.85, label= "Name")
potential_match= compare.compute(candidates, data_ssi, combine_fida_gpc_concito_dataset)
potential_match.Name.unique()

# TradeSync GTIN Link data from GS1

In [26]:
import glob
import xml.etree.ElementTree as ET

#Import gs1 xmll files
path_tradesync_data= "/content/drive/MyDrive/Data_gs1_xml/"
xmls = glob.glob(path_tradesync_data + '*.xml')
print("Toal amount of xml files: ", len(xmls))

Toal amount of xml files:  1060

In [184]:
# Funccction to extract data from xml files
def gs1_xml_reader(file):
  """This function will take xml file and return GTIN and Brick code as key:value pair including other relavant feactures"""
  tree = ET.parse(file)
  root = tree.getroot()
  keys_of_items_to_find= ("gtin", "gpcCategoryCode", "brandName", 'functionalName', 'descriptionShort', "additionalTradeItemIdentification", "uniformResourceIdentifier", "ingredientStatement")
  
  #Lets start the dictionary to collecct items 
  dit= dict([(key,[]) for key in keys_of_items_to_find])

  # Loop over the tags that make sense (from list above)
  for list_item in keys_of_items_to_find:
    # Again  looping to get the text value
    for item in root.iter(list_item):
      if item.text not in dit[list_item]:
        if list_item == "gtin":
          dit[list_item].append(item.text[1:])
        else:
          dit[list_item].append(item.text)
      #else:
        #dit[list_item].append(0)
  # The data are Dictionary of lists so lets print them to see
  return dit

gs1_xml_reader(xmls[0])

{'gtin': ['5000387905498', '5000387905634', '5000387905634'],
 'gpcCategoryCode': ['10000263'],
 'brandName': ['Bells'],
 'functionalName': ['Whisky'],
 'descriptionShort': ['Original'],
 'additionalTradeItemIdentification': ['624860'],
 'uniformResourceIdentifier': ['https://gdsnprodwebstorage.blob.core.windows.net/gdsnprodwebfileblob/5790000000722/05000387905498/208/ReferencedFileDetailInformationModule/05000387905498T.1.png',
  'https://gdsnprodwebstorage.blob.core.windows.net/gdsnprodwebfileblob/5790000000722/05000387905498/208/ReferencedFileDetailInformationModule/05000387905498T.2.png',
  'https://gdsnprodwebstorage.blob.core.windows.net/gdsnprodwebfileblob/5790000000722/05000387905498/208/ReferencedFileDetailInformationModule/05000387905498T.3.png',
  'https://gdsnprodwebstorage.blob.core.windows.net/gdsnprodwebfileblob/5790000000722/05000387905634/208/ReferencedFileDetailInformationModule/05000387905634.1.png',
  'https://gdsnprodwebstorage.blob.core.windows.net/gdsnprodwebfileblob/5790000000722/05000387905634/208/ReferencedFileDetailInformationModule/05000387905634.3.png',
  'https://gdsnprodwebstorage.blob.core.windows.net/gdsnprodwebfileblob/5790000000722/05000387905634/208/ReferencedFileDetailInformationModule/05000387905634_C1N1.jpg',
  'https://gdsnprodwebstorage.blob.core.windows.net/gdsnprodwebfileblob/5790000000722/05000387905634/208/ReferencedFileDetailInformationModule/05000387905634_C1N1.png',
  'https://gdsnprodwebstorage.blob.core.windows.net/gdsnprodwebfileblob/5790000000722/05000387905634/208/ReferencedFileDetailInformationModule/05000387905634T.1.png',
  'https://gdsnprodwebstorage.blob.core.windows.net/gdsnprodwebfileblob/5790000000722/05000387905634/208/ReferencedFileDetailInformationModule/05000387905634T.2.png',
  'https://gdsnprodwebstorage.blob.core.windows.net/gdsnprodwebfileblob/5790000000722/05000387905634/208/ReferencedFileDetailInformationModule/05000387905634T.3.png'],
 'ingredientStatement': ['Spiritus']}

***The above data are in a form of dictionary. Dictionary of list.***

In [185]:
print(type(gs1_xml_reader(xmls[0])))
print(type(gs1_xml_reader(xmls[0])['gtin']))

<class 'dict'>
<class 'list'>

In [186]:
# Lets loop over all the files and extract the GTIN code and associated Brick-codes
keys_of_items_to_find= ("gtin", "gpcCategoryCode", "brandName", 'functionalName', 'descriptionShort', "additionalTradeItemIdentification", "uniformResourceIdentifier", "ingredientStatement")
dit= dict([(key,[0]) for key in keys_of_items_to_find])
df_with_gtin_list = pd.DataFrame()
for xml in xmls[:]:
  df_with_gtin_list= df_with_gtin_list.append(gs1_xml_reader(xml), ignore_index = True)
  
df_with_gtin_list

,gtin,gpcCategoryCode,brandName,functionalName,descriptionShort,additionalTradeItemIdentification,uniformResourceIdentifier,ingredientStatement
0,"[5000387905498, 5000387905634, 5000387905634]",[10000263],[Bells],[Whisky],[Original],[624860],[https://gdsnprodwebstorage.blob.core.windows....,[Spiritus]
1,"[4008239649805, 4008239655257, 4008239655257, ...",[10000522],[Vitakraft],"[Daily food, Hauptfutter]","[Life Marsvin, LIFE Power, 600g, MS, Life Powe...",[25109],[],[]
2,[6942138946529],[10005155],[Impulse],[Dykkerbriller],[Hydro-Swim Dykkerbriller 3-asst],[I-22057],[],[]
3,"[5701018044677, 5701018044646, 5701018044646]",[10000055],[Bähncke],"[Bähncke Chili Bearnais SR 325g-8stk, Chili Be...","[Bähncke Chili Bearnais SR 325g-8stk, Chili Be...","[154528, 5701018044646]",[http://nrgdesign.dk/orkla.php?id=72662],"[Ingredienser: Vand/vatten, rapsolie/-olja, mo..."
4,"[8711295755952, 8711295755955, 8711295755955, ...",[99999999],[Maj],[HALSKÆDE LÆDERSNØRRE M/VEDHÆNG],[HALSKÆDE LÆDERSNØRRE M/VEDHÆNG],[6159],[],[]
...,...,...,...,...,...,...,...,...
1055,"[8420197061271, 8420197001277, 8420197001277]",[10000028],[Øvrige],[Dessertost],[MANCHEGO D.O. 200 G. 6 MDR.],[6791],[http://lactalis.dk/admin/public/getimage.ashx...,[Ingredienser: Pasteuriseret fåreMÆLK. salt. M...
1056,[5764630930254],[10000379],[hårpynt],[Hårpynt],[hårpynt],[993025],[],[]
1057,"[5704080955589, 5704080955155, 5704080955162, ...",[10005840],"[3-Stjernet , 3-Stjernet - Den originale, 3-St...","[3-STJERNET SALGSDISPLAY (120 STK.), SPEGEPØLS...","[3-STJERNET SALGSDISPLAY (120 STK.), SPEGEPØLS...","[911840, 911131, 911132, 911133, 911134, 911135]",[https://gdsnprodwebstorage.blob.core.windows....,[Ingredienser: Til 100 g færdigvare er anvendt...
1058,[5410522494518],[10000045],[Bensdorp],[Cocoa powder],[20/22 DT UTZ],[100317-UTZ-793],[],"[Ingredienser: kakaopulver, Ingredients: cocoa..."
1059,"[5701977130015, 5701977030018, 5701977030018]",[10000220],[Naturli],[Smoothie],"[SMOOTHIE HINDBÆR ØKO, SMOOTHIE Hindbær øko]",[60001243],[https://gdsnprodwebstorage.blob.core.windows....,"[Ingredienser: Æblepuré og -saft*, hindbær*(16..."

In [138]:
gtin_brickcode= df_with_gtin_list[["gtin",	"gpcCategoryCode"]]
gtin_brickcode
for row, col in gtion_brickcode.iterrows():
  print(col.gtin)
  print(col.gpcCategoryCode)
  print("*"* 30)

['05000387905498', '05000387905634']
['10000263']
******************************
['04008239649805', '04008239655257', '04008239251091']
['10000522']
******************************
['06942138946529']
['10005155']
******************************
['05701018044677', '05701018044646']
['10000055']
******************************
['28711295755952', '18711295755955', '08711295755958']
['99999999']
******************************
['05700382108657', '05700383641047']
['10005767']
******************************
['15704000457292', '05704000457295']
['10005840']
******************************
['05709916008203']
['99999999']
******************************
['05709760010346', '05709760000347']
['10005836']
******************************
['07300400707503', '07300400482165']
['10000166']
******************************
['13052911428576', '03052911428579']
['10000202']
******************************
['08036622240670']
['10000051']
******************************
['25701920306034', '05701920525776']
['10000172']
******************************
['05711953067075', '05711953067082']
['10000190']
******************************
['08717847118028']
['10000555']
******************************
['05711683003411']
['10000171']
******************************
['17501017005052', '07501017005055']
['10006102']
******************************
['08712767580184', '08712767500182']
['10000047']
******************************
['02654940000002']
['10000028']
******************************
['05704328614486']
['10006113']
******************************
['05706708000728']
['10000302']
******************************
['05707093003165']
['10005840']
******************************
['05704436004162', '05706911004162']
['10006748']
******************************
['05706345069003']
['10000257']
******************************
['05707672975739']
['10002122']
******************************
['08699073290719']
['10000272']
******************************
['03600530803972', '03600530803910', '03600530803880', '03600530803859']
['10000775']
******************************
['05704328603688']
['10005960']
******************************
['08007813730577']
['10000276']
******************************
['05701841802819', '05701841802802']
['10000285']
******************************
['57073235113614', '05707323511361']
['10000201']
******************************
['07310181599556', '07310181508107']
['10000383']
******************************
['05000159459266', '05000159459228']
['10000045']
******************************
['05032015001203', '05032015001173']
['10000047']
******************************
['37340011432297', '07340011343127']
['10006319']
******************************
['10070734517829', '00070734517822']
['10000119']
******************************
['05709625959704', '05709625059701']
['10000165']
******************************
['05701092423382', '05701092111708']
['10000443']
******************************
['05710280200322', '05710280200315']
['10000159']
******************************
['03850354010524', '03850354010067']
['10000279']
******************************
['28716201038365', '18716201038368', '08716201038361']
['99999999']
******************************
['05701716305230', '05701167305230']
['10000047']
******************************
['05705815003677']
['10000693']
******************************
['18410764014714', '08410764014717']
['10005781']
******************************
['05703828511134', '05703828111235', '05703828020582']
['10000232']
******************************
['34023103117670', '04023103096271']
['10000397']
******************************
['04015600945695', '04084500015142', '04084500015135']
['10000368']
******************************
['05764630020191']
['10000379']
******************************
['05601045300169', '05601151976944']
['10000201']
******************************
['07321041882220', '07321031882223', '07321041761273', '07321011882229', '07321031761276', '07321011761272']
['10007264']
******************************
['15705001150090', '05705001150086']
['10000220']
******************************
['45060519143264', '05060519143266']
['10000117']
******************************
['05705815023033']
['10000158']
******************************
['05709364046420', '05709364674791']
['10000161']
******************************
['77311311002723', '17311311002721', '07311311002724']
['10000049']
******************************
['09414202214881']
['10002122']
******************************
['08717496901668']
['10006454']
******************************
['05411901938302', '05411901701333']
['10000045']
******************************
['07332531079570', '07332531024723', '07332531061735', '07332531067041', '07332531024617', '07332531066983', '07332531061704']
['10000368', '10000346']
******************************
['05712782104351']
['10000043']
******************************
['05701852250425']
['10000025']
******************************
['08001090387110', '04210201181637', '04210201181620']
['10000781']
******************************
['07316191805359']
['10001217']
******************************
['05703986120209', '05703986020202']
['10005840']
******************************
['05712782190606']
['10000049']
******************************
['98001637010528', '02654200000001']
['10000028']
******************************
['05707402008577', '05707402006641', '05707402005231', '05707402007990', '05707402008119', '05707402008171', '00000057014388']
['10000159', '10003689']
******************************
['05748484207380', '05701302207382']
['10000635']
******************************
['09002490238865', '09002490100490', '09002490216016']
['99999999', '10000266']
******************************
['05701243990954']
['10006085']
******************************
['05411361020517']
['10000204']
******************************
['08006908009659']
['10000047']
******************************
['15700551260565', '05700551260568']
['10000510']
******************************
['05710645104357']
['10006197']
******************************
['08711252141862']
['10001813']
******************************
['04250208800162']
['10000165']
******************************
['05701501721528']
['10000163']
******************************
['05709243920506']
['10005900']
******************************
['05703617091960']
['10001080']
******************************
['05760932913797', '05760932013046', '05760932014074', '05760932013039']
['10000207', '10000236']
******************************
['05710840150081', '05710840150074', '05710840150067']
['10000267']
******************************
['75701049152012', '05701049152013']
['10000045']
******************************
['05704453377058']
['10000049']
******************************
['13217697528791', '03217690028796']
['10000202']
******************************
['08711700887236', '08711700887229']
['10000383']
******************************
['05710517130385', '05710517110387']
['10005769']
******************************
['07332531017817', '07332531017800']
['10000381']
******************************
['05701119993492', '05701979993496']
['10000045']
******************************
['05606677501007']
['10000018']
******************************
['07321041656661', '07321031656664', '07321011656660']
['10000555']
******************************
['05710840158469', '05710840158452', '05710840151477']
['10000267']
******************************
['05709385108046', '05709385008049']
['10000047']
******************************
['05748484204297', '05701302204374', '05701302204381', '05701302204398']
['10000555']
******************************
['05703043332774']
['10000163']
******************************
['05413546071246', '05414901071239']
['10005778']
******************************
['08852018250128', '08852018201014']
['10000590']
******************************
['85701075202580', '05701075202584']
['10000156']
******************************
['05708207009257']
['10002144']
******************************
['05391532440217']
['10000263']
******************************
['03600541603431', '03600541603417', '03600541603011']
['10000775']
******************************
['05704420240064', '05704420010063', '05704420000064']
['10000134']
******************************
['05714036465690']
['10000055']
******************************
['15701920540486', '05701920540489']
['10000166']
******************************
['27350083120087', '07350083120083']
['10006818']
******************************
['10026102093921']
['10007243']
******************************
['05709927056521', '05709927056484']
['10000666']
******************************
['05701029020233', '05701029020219']
['10000598', '10000203']
******************************
['07804305000238', '07804305000177']
['10000276']
******************************
['05701022169533', '05701022169526']
['10006331']
******************************
['15765228791438', '05765228791431']
['10000049']
******************************
['05606868000142']
['10000273']
******************************
['05704907973539']
['10005133']
******************************
['05704907606246']
['10000379']
******************************
['75701049118711', '05701049118651']
['10000045']
******************************
['07311200025230', '00000040111001']
['10000045']
******************************
['05713318511100']
['10002124']
******************************
['07330869145950', '07310350117413', '07310350115495']
['10000602', '10000047']
******************************
['05707007868460']
['10005800']
******************************
['08051490500947', '08051490500749']
['10000040']
******************************
['05748484150679', '05701302151678']
['10000555', '10000635']
******************************
['05701181241224']
['10000047']
******************************
['05704048902283']
['10000263']
******************************
['05703617101522']
['10001074']
******************************
['05710876350837']
['10006331']
******************************
['07314885351847']
['10006897']
******************************
['05708322680614']
['10000245']
******************************
['08710908921223', '08710447865200', '08712100816017']
['10000050']
******************************
['04030839244463']
['10001080']
******************************
['05700384588259', '05700382786459']
['10005788']
******************************
['03249990029289']
['10000276']
******************************
['04041434514035', '04041434514028', '04008239394002']
['10000522']
******************************
['07622210448064', '07622210448071']
['10000045']
******************************
['08718951185005', '08718951192294']
['10000356']
******************************
['02872090000004']
['10005800']
******************************
['07314885350987']
['10005120']
******************************
['04010070321048']
['10005642']
******************************
['05000159343978', '05000159343961']
['10000215']
******************************
['05740600982508', '00000057089003']
['10000201']
******************************
['02631990000008']
['10000028']
******************************
['07178600001246', '07178600000171']
['10000272']
******************************
['05707735920638', '05707735920621']
['10005790']
******************************
['23111950035316', '03111950035312']
['10006032']
******************************
['05709897022816', '05709897022809']
['10000272']
******************************
['05704658003059', '05704658003035']
['10000272']
******************************
['95701975802139']
['10000028']
******************************
['08005610544984', '08005610544953']
['10000356']
******************************
['03262350628120', '03262350210684']
['10000250']
******************************
['15700551260305', '05700551260308']
['10000510']
******************************
['07321031829808', '07321011829804']
['10000447']
******************************
['05706990020114']
['10000047']
******************************
['05701716305728', '05010775194892', '05010775192256', '05010775185876']
['10000045']
******************************
['05740301122098', '05740301122081', '02831160000009']
['10000017']
******************************
['07622100923770', '07622100923763']
['10000268']
******************************
['05708123003704', '05708123000178']
['10005836']
******************************
['05707381013630', '05707381013623']
['10000158']
******************************
['04084500538962', '07702018377091', '07702018024599']
['10000370']
******************************
['04106060202678', '04106060010525']
['10000220']
******************************
['05710176005857', '05710176005840']
['10000144']
******************************
['05704436013898', '05706911013898']
['10000215']
******************************
['07321041880752', '07321031880755', '07321011880751']
['10000635']
******************************
['00000057044798', '00000057044767']
['10000159']
******************************
['05730800626180', '05730800723186']
['10000179']
******************************
['08717853499036', '08717853494031']
['10000119']
******************************
['05706844512024', '05706844511997']
['10000263']
******************************
['05700381939412', '05718147442007']
['10000206', '10000207']
******************************
['03049614028410', '03049614003417']
['10000275']
******************************
['04051735051153', '04004094136573']
['10002176']
******************************
['06931722300878', '06931722300861']
['10000045']
******************************
['07090008090922', '07090008090915']
['10000159']
******************************
['04008239708403', '04008239691538', '04008239268099']
['10000522']
******************************
['03600531487157', '03600531487133', '03600530733903', '03600530733866']
['10000775']
******************************
['05902267000258']
['10005997']
******************************
['77311310038822', '17311310038820', '07311310038823']
['10000165']
******************************
['05705681019758', '05701493124093', '00000057405308']
['10000383']
******************************
['05710255106048']
['10002122']
******************************
['00085805043476']
['99999999']
******************************
['05748484210748', '05701302210740']
['10000555']
******************************
['05704658003998', '05704658003950']
['10000308']
******************************
['05714411300158', '05714411300141']
['10000222']
******************************
['05707466061006', '02330310000000']
['10000028']
******************************
['05703261210304']
['10005268']
******************************
['05708229310270']
['10000206']
******************************
['06416453436480', '06416453036482']
['10000047']
******************************
['05745325172395', '05745325098091']
['10000468']
******************************
['04015400845058', '07702018422180', '07702018420377']
['10000535']
******************************
['03083681029468', '03083680666596', '03083680666183']
['10000272']
******************************
['05710881118583']
['10000020']
******************************
['05707224090033', '05707224022492']
['10000045']
******************************
['05711667005295', '05711667000290', '00000057072678']
['10000185']
******************************
['05702076037519', '05702071380672']
['10000468']
******************************
['07613031615698', '07613031615681']
['10000115']
******************************
['05708322670424', '05708322170429']
['10000245']
******************************
['08001841004433', '08001841004426', '08001841004419']
['10000346']
******************************
['37340011463390', '07340011463399']
['10000215']
******************************
['77311311004505', '17311311004503', '07311311004506']
['10000049']
******************************
['05701119978321', '05701979975560']
['10000177']
******************************
['04010070319137']
['10001717']
******************************
['05010478252523', '05010478248441']
['10000047']
******************************
['05709153013121']
['10000248']
******************************
['07622100922728', '07622100922711', '07622100922704']
['10000268']
******************************
['05701369151093']
['10000159']
******************************
['05709594656550', '02653640000008']
['10006278']
******************************
['05711923636089', '05711923038081']
['10000215']
******************************
['05900020025500', '05900020025494']
['10000284']
******************************
['08717591512165', '08717591512066']
['10000020']
******************************
['05707641043070']
['10000017']
******************************
['05707381012527', '05707381012534']
['10000158']
******************************
['25709916819858', '15709916819851', '05709916819854']
['99999999']
******************************
['13700206705337', '03700206705330']
['10000385']
******************************
['05706535003763']
['10000215']
******************************
['05706911010453']
['10005790']
******************************
['15709372209272', '05709372209275']
['10002151']
******************************
['05701200101423', '02648650000001']
['10005786']
******************************
['05709805082369']
['10005836']
******************************
['05701119994000', '05701979994004']
['10000177']
******************************
['04062300114371', '04062300365537']
['10000610']
******************************
['23480041013008', '03480041013004']
['10000276']
******************************
['05741000151655', '05741000151266']
['10000232']
******************************
['05710881211451']
['10000145']
******************************
['27340011462310', '37340011462317', '07340011462316']
['10000245']
******************************
['05708957001945']
['10001207']
******************************
['05710175831143', '05710175131144']
['10006214']
******************************
['07314888017603']
['10001226']
******************************
['30085000011646', '00085000011645']
['10000276']
******************************
['08410525215094', '08410525215100']
['10006390']
******************************
['15711821000170', '05711821000173']
['10000215']
******************************
['05701716001514', '05701716215010', '05701716015016']
['10000045']
******************************
['05748484205911', '05701302206118', '05701302206125', '05701302206132', '05701302167402', '05701302167419', '05701302167426', '05701302150541', '05701302167884', '05701302159926', '05701302195696', '05701302195689', '05701302155157', '05701302169284', '05701302151166', '05701302160106', '05701414135030']
['10000555', '10000635']
******************************
['02001310001747', '08001310001741', '08001310001000']
['10000244']
******************************
['04001071042117', '04001071042025', '04001071042032', '04001071042049', '04001071042056', '04001071042063', '04001071042018']
['10006818']
******************************
['05712782139278']
['10000619']
******************************
['08714789709208', '08714789002699']
['10000636']
******************************
['08712514811851', '08712514911858']
['10000047']
******************************
['07611243451264', '07611243452742']
['10006331']
******************************
['27340011485746', '37340011485743', '07340011485742']
['10000104']
******************************
['02825760000002']
['10005786']
******************************
['04006333050862']
['10005190']
******************************
['05710557946014']
['10005767']
******************************
['05709805010386']
['10005836']
******************************
['05704749013639', '05704749013622']
['10000045']
******************************
['09311659000565']
['10000276']
******************************
['05740700990458', '00000057074313']
['10000159']
******************************
['05789000078787', '05789000078770']
['10005769']
******************************
['05740600983918', '00000057013596']
['10000201']
******************************
['05701922653361']
['10002124']
******************************
['05708501002824']
['10006052']
******************************
['75701049553123', '05701049553018']
['10000047']

In [32]:
df_with_gtin_list[df_with_gtin_list.brandName == '[Naturli]']#.gpcCategoryCode.values

Empty DataFrame
Columns: [gtin, gpcCategoryCode, brandName, functionalName, descriptionShort, additionalTradeItemIdentification, uniformResourceIdentifier, ingredientStatement]
Index: []

In [33]:
combine_fida_gpc_concito_dataset[combine_fida_gpc_concito_dataset.FødevareNavn == "Jordbær, rå"].iloc[:, [6,7,8,9,10,11,12,13,16,27,28,29,30,31,32,33,34,35]]

,BrickCode,BrickTitle,AttributeCode,AttributeTitle,AttributeValueCode,AttributeValueTitle,Product_dk,Product_en,GPC_Level4_dk,Total_CO2_eq_perkg,FødevareNavn,FoodName,FoodID,TaxonomicName,FoodEx2Code,FoodGroupID,FødevareGruppe,FoodGroup
66614,10005921,Strawberries,20000743.0,Country/Zone of Origin,30014610.0,AFGHANISTAN,"Jordbær, rå","Strawberry, raw",10005921,0.561566,"Jordbær, rå","Strawberry, raw",1.0,Fragaria x ananassa Duchesne,A01EA#F02.A067D,51.0,Bærfrugt,Soft fruit
66615,10005921,Strawberries,20000743.0,Country/Zone of Origin,30016053.0,ÅLAND ISLANDS,"Jordbær, rå","Strawberry, raw",10005921,0.561566,"Jordbær, rå","Strawberry, raw",1.0,Fragaria x ananassa Duchesne,A01EA#F02.A067D,51.0,Bærfrugt,Soft fruit
66616,10005921,Strawberries,20000743.0,Country/Zone of Origin,30014612.0,ALBANIA,"Jordbær, rå","Strawberry, raw",10005921,0.561566,"Jordbær, rå","Strawberry, raw",1.0,Fragaria x ananassa Duchesne,A01EA#F02.A067D,51.0,Bærfrugt,Soft fruit
66617,10005921,Strawberries,20000743.0,Country/Zone of Origin,30014613.0,ALGERIA,"Jordbær, rå","Strawberry, raw",10005921,0.561566,"Jordbær, rå","Strawberry, raw",1.0,Fragaria x ananassa Duchesne,A01EA#F02.A067D,51.0,Bærfrugt,Soft fruit
66618,10005921,Strawberries,20000743.0,Country/Zone of Origin,30014614.0,AMERICAN SAMOA,"Jordbær, rå","Strawberry, raw",10005921,0.561566,"Jordbær, rå","Strawberry, raw",1.0,Fragaria x ananassa Duchesne,A01EA#F02.A067D,51.0,Bærfrugt,Soft fruit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66896,10005921,Strawberries,20002737.0,Quality (UNECE Standard),30014956.0,"""EXTRA"" CLASS","Jordbær, rå","Strawberry, raw",10005921,0.561566,"Jordbær, rå","Strawberry, raw",1.0,Fragaria x ananassa Duchesne,A01EA#F02.A067D,51.0,Bærfrugt,Soft fruit
66897,10005921,Strawberries,20002737.0,Quality (UNECE Standard),30014608.0,CLASS I,"Jordbær, rå","Strawberry, raw",10005921,0.561566,"Jordbær, rå","Strawberry, raw",1.0,Fragaria x ananassa Duchesne,A01EA#F02.A067D,51.0,Bærfrugt,Soft fruit
66898,10005921,Strawberries,20002737.0,Quality (UNECE Standard),30014609.0,CLASS II,"Jordbær, rå","Strawberry, raw",10005921,0.561566,"Jordbær, rå","Strawberry, raw",1.0,Fragaria x ananassa Duchesne,A01EA#F02.A067D,51.0,Bærfrugt,Soft fruit
66899,10005921,Strawberries,20002737.0,Quality (UNECE Standard),30002515.0,UNCLASSIFIED,"Jordbær, rå","Strawberry, raw",10005921,0.561566,"Jordbær, rå","Strawberry, raw",1.0,Fragaria x ananassa Duchesne,A01EA#F02.A067D,51.0,Bærfrugt,Soft fruit
66900,10005921,Strawberries,20002737.0,Quality (UNECE Standard),30002518.0,UNIDENTIFIED,"Jordbær, rå","Strawberry, raw",10005921,0.561566,"Jordbær, rå","Strawberry, raw",1.0,Fragaria x ananassa Duchesne,A01EA#F02.A067D,51.0,Bærfrugt,Soft fruit

In [34]:
from google.colab import files
df_with_gtin_list= df_with_gtin_list[["gtin", "gpcCategoryCode", "brandName", 'functionalName', 'descriptionShort', 'additionalTradeItemIdentification', "uniformResourceIdentifier","ingredientStatement"]].iloc[:,:]
df_with_gtin_list.to_excel('df_with_gtin_list.xlsx', encoding = 'utf-8-sig') 
#files.download('df_with_gtin_list.xlsx')

#Combine SSI data and GTIN:BRICK-CODE dataset
*   ***FødevareNavn* from frida dataset- This dataset have one 1 datapoint for selected string**
*   ***BrickTitle* from GS1_GPC dataset. This sdataset have multiple datapoint for selected string from FRIDA.FødevareNavn**

So it need to be merged FRIDA dataset to GPC-Concito dataset.

In [35]:
gs1_gtin= [05000387905498, 05000387905634]
type(gs1_gtin)

SyntaxError: ignored

#Lets create the pipeline to extract data from the combination of ISS dataset, Frida dataset and GS1 GPC-dataset

In [ ]:
!pip3 install eansearch
from eansearch import EANSearch

ean_list= ['05701018044677', '05000387905634', 25109, 5712873336944, 5712580050171, 20008932, 20014018, 20023393, 5712580000114, "05766632526800"]
ean = ean_list[0]
apiToken = "a09851e102099d04448394e0b838bc345c8fd98a"


"""eansearch = EANSearch(apiToken)
eanList = eansearch.productSearch('Bananas')
for product in eanList:
	print(product["ean"], " is ", product["name"].encode("utf-8"))"""
 
lookup = EANSearch(apiToken)
name = lookup.barcodeLookup(ean)
print(ean, " is ", name)